@import "tailwindcss";

@theme {
	--font-sans:
		"Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
	@apply bg-white;
	color-scheme: light;
}

[data-activity-level="null"] {
	background-color: #e7e5e4;
}

[data-activity-level="zero"] {
	background-color: #cbd5d1;
}

[data-activity-level="level-1"] {
	background-color: #bbf7d0;
}

[data-activity-level="level-2"] {
	background-color: #86efac;
}

[data-activity-level="level-3"] {
	background-color: #22c55e;
}

[data-activity-level="level-4"] {
	background-color: #15803d;
}
